<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ExoticFoods - Cardápio </title>
  <link href="images/e.png" rel="icon"> 
  <link href="images/e.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/login.css" rel="stylesheet">
</head>

<body class="index-page">
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <h1 class="sitename">Exotic</h1>
        <span>Foods</span>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active"> CARDAPÍO<br></a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="btn-getstarted" href="/">INICIO</a>
    </div>
  </header>

  <main class="main">
    <section id="hero" class="hero section light-background">
      
      <div class="container">
          <h4 data-aos="fade-up">Nosso catálogo<br></h4>
            <div class="row gy-5">
              <div class="col-lg-4 menu-item">
                <a href="images/menu/pf.png" class="glightbox"><img src="images/menu/pf.png" class="menu-img img-fluid" alt=""></a>
                <h4>Pizza de feijão</h4>
                <p class="ingredients">
                  Massa, Arroz, Feijão e Queijo
                </p>
                <p class="price">
                  R$40,00
                </p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                  <a href="#menu" class="btn-get-started">FAZER PEDIDO</a>
                </div>
              </div>

              <div class="col-lg-4 menu-item">
                <a href="images/menu/cj.png" class="glightbox"><img src="images/menu/cj.png" class="menu-img img-fluid" alt=""></a>
                <h4>Coxinha de jaca</h4>
                <p class="ingredients">
                  Massa e Jaca
                </p>
                <p class="price">
                  R$20,05
                </p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                  <a href="#menu" class="btn-get-started">FAZER PEDIDO</a>
                </div>
              </div>

              <div class="col-lg-4 menu-item">
                <a href="images/menu/ad.png" class="glightbox"><img src="images/menu/ad.png" class="menu-img img-fluid" alt=""></a>
                <h4>Acarajé Doce</h4>
                <p class="ingredients">
                  Acarajé, Morango e Chocolate
                </p>
                <p class="price">
                  R$15,95
                </p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                  <a href="#menu" class="btn-get-started">FAZER PEDIDO</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Endereço</h4>
            <p>Avenida Fraga Maia</p>
            <p>Feira de santana, Bahia 44053-055</p>
            <p></p>
          </div> 
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contato</h4>
            <p>
              <strong>Telefone:</strong> <span>75 98144 - 9077</span><br>
              <strong>Email:</strong> <span>exoticf@gmail.com</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Estamos Abertos</h4>
            <p>
              <strong>Segunda-Domingo:</strong> <span>17PM - 22PM</span><br>
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4>Siga nós</h4>
          <div class="social-links d-flex">
            <a href="https://github.com/emal0n" class="github"><i class="bi bi-github"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container copyright text-center mt-4">
      <p>© <span>2024</span><strong class="px-1 sitename">ExoticFoods.</strong><span>Todos os direitos reservados</span></p>
    </div>
  </footer>

  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="javascripts/main.js"></script>

</body>
</html>