<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ExoticFoods - Aqui você experimenta comidas extraordinarias </title>
  <link href="images/e.png" rel="icon"> 
  <link href="images/e.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/login.css" rel="stylesheet">
</head>

<body class="index-page">
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <h1 class="sitename">Exotic</h1>
        <span>Foods</span>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">NOSSOS SERVIÇOS<br></a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="btn-getstarted" href="/adminauth">AREA ADMINSTRATIVA</a>
    </div>
  </header>

  <main class="main">
    <section id="hero" class="hero section light-background">
      <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Se surpreenda com nosso catálogo<br></h1>
            <p data-aos="fade-up" data-aos-delay="100">Aqui você encontra comidas incomuns</p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="/card" class="btn-get-started">NOSSO CARDÁPIO</a>
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="images/menu/pf.png" class="img-fluid animated" alt="">
          </div>
      </div>
    </section>
      <section class="light-background">
        <center>
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Ou<br></h1>
      </div>
    </center>
    </section>
    <section id="hero" class="hero section light-background">
      <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Agende uma mesa conosco<br></h1>
            <p data-aos="fade-up" data-aos-delay="100">Tornamos seus momentos ainda mais especiais</p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="/agen" class="btn-get-started">AGENDE AQUI</a>
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="images/menu/sp.jpg" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Endereço</h4>
            <p>Avenida Fraga Maia</p>
            <p>Feira de santana, Bahia 44053-055</p>
            <p></p>
          </div> 
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contato</h4>
            <p>
              <strong>Telefone:</strong> <span>75 98144 - 9077</span><br>
              <strong>Email:</strong> <span>exoticf@gmail.com</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Estamos Abertos</h4>
            <p>
              <strong>Segunda-Domingo:</strong> <span>17PM - 22PM</span><br>
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4>Siga nós</h4>
          <div class="social-links d-flex">
            <a href="https://github.com/emal0n" class="github"><i class="bi bi-github"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container copyright text-center mt-4">
      <p>© <span>2024</span><strong class="px-1 sitename">ExoticFoods.</strong><span>Todos os direitos reservados</span></p>
    </div>
  </footer>

  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="javascripts/main.js"></script>

</body>
</html>